.thematiques-text {
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    width: fit-content;

    img {
        height: 6vh;
        width: 3vw;
        margin: 2vh 1vw;
        background-color: $violet;
    }
}