.poll-button {
    input {
        background-color: $lightviolet;
        width: 34vw;
        height: 22vh;
        border: none;
        border-radius: 30px;
        @include typoLato($nav);
    }
}