.home-main-button {

    a {
        width: 45%;
        text-decoration: none;
        text-align: center;
        color: $black;
        text-transform: uppercase;
        padding: 16vh 2vw;
        margin-bottom: 2vh;
        border-radius: 30px;
        background-color: $blue;
        @include typoLato($h2);
        font-weight: 600;
    }
}