// Mettre le HTML en relative pour que le footer soit bien en bas
html {
    position:relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// H(X)
h1 {
    @include typoLato($h1);
}

h2 {
    @include typoLato($h2);
}

h3 {
    @include typoLato($nav);
}

h4 {
    @include typoLato($small);
}

// Classes basiques
.uppercase {
    text-transform: uppercase;
}

.button-return {
    padding-top: 3vh;
    position: absolute;
    left: 2vw;
}

.hidden {
    display: none;
}

#error {
    padding: 1.2vh 2vw;
    margin-bottom: 4vh;
    @include typoLato($middle);
    background-color: $white;
    color: red;
    font-weight: 700;
    //border-radius: 30px;
}

#correct {
    padding: 1.2vh 2vw;
    margin-bottom: 4vh;
    @include typoLato($middle);
    background-color: $white;
    color: green;
    font-weight: 700;
    //border-radius: 30px;
}

// Header
header {
    display: flex;
    justify-content: space-between;
    padding: 4vh 8vw;
    background-color: $dark;
}

// Footer
footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 6vh;
    padding-top: 2vh;
    background-color: $dark;
}