// Réinitialisation de tous les éléments du site
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// H(X)
h1 {
    @include typoLato($h1);
}

h2 {
    @include typoLato($h2);
}

// Classes basiques
.uppercase {
    text-transform: uppercase;
}

// Header
header {
    display: flex;
    justify-content: space-between;
    padding: 4vh 8vw;
    background-color: $dark;
}

// Footer
footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 6vh;
    padding-top: 2vh;
    background-color: $dark;
}