// Main

// HomeView
.home-main {
    display: flex;
    padding: 2vh 8vw;

    div:first-of-type {
        width: 50%;
    }

    div:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }
}

// InscriptionView
.inscription-main {
    padding-top: 3vh;
    display: flex;
    justify-content: center;

    a {
        position: absolute;
        left: 2vw;
    }
}

// ConnexionView
.connexion-main {
    padding-top: 3vh;
    display: flex;
    justify-content: center;

    a:first-child {
        position: absolute;
        left: 2vw;
    }
}