// Main

// HomeView
.home-main {
    display: flex;
    padding: 2vh 8vw;

    div:first-of-type {
        width: 50%;
    }

    div:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }
}

// InscriptionView et ConnexionView
.inscription-main, .connexion-main {
    display: flex;
    justify-content: center;

    form {
        margin-top: 3vh;
    }
}

// ProfilView
.profil-main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15vw;

    &>div:nth-of-type(2){
        margin-top: 8vh;
    }

    div:nth-of-type(3){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        // Titre des listes déroulantes
        &>section {
            margin-top: 4vh;

            // Barre déroulante de la liste d'amis : fait en sorte que les amis ne soient pas collés les uns aux autres
            &:first-child section {
                margin: 1vh 0;
            }

            &:nth-child(2) section, &:last-child div>div {
                margin: 1vh 1.5vw;
            }

            &:nth-child(3) div {
                margin: 0 1.5vw;
            }
        }
    }
}

// CreatePollExplicationView
.createPollExplication-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;

    section:first-of-type {
        margin: 6vh 0;
    }

    section:last-of-type{
        a {
            margin-top: 8vh;
        }
    }
}

// CreatePollView
.createPoll-main {
    @extend .createPollExplication-main ;

    section:nth-of-type(2){
        margin-bottom: 6vh;
    }

    form {
        width: 100vw;
        padding: 8vh 0;
        background-color: $lightviolet;
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type=submit] {
            margin-top: 6vh;
        }
    }
}

// ThematiquesView
.thematiques-main {
    margin: 0 13vw;

    &>div {
        padding-top: 3vh;

        &>div {
            padding-bottom: 2vh;
        }
    }
}

// Polls By Thematiques View
.pollsByThem-main {
    padding: 0 13vw;

    &>div:first-of-type {
        background-color: $violet;
        height: 20vh;
        padding: 4vh 2vw;
    }

    td:nth-of-type(3){
        width: fit-content;

        p:not(:first-of-type) {
            margin-top: 0.5vh;
        }
    }
}

// PollView
.poll-main {
    margin: 0 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        margin: 3vh 0 2vh;
    }

    div:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70vw;

        form {
            margin-top: 4vh;
        }
    }
}